<!DOCTYPE html>
<html ng-app="juegoAppModel">

  <head>
    <title>¿Dondé está Carmen San Diego?</title>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="images/iconoCarmenSanDiego.png" type="image/png" />
    <!-- Bootstrap -->
      <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
      <script src="http://code.jquery.com/jquery-migrate-1.1.0.js"></script>
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/bootstrap-theme.min.css">
      <script src="js/bootstrap.min.js"></script>
    <!-- Fin bootstrap -->
    <script type="text/javascript" src="lib/angular.min.js"></script>
    
    <script type="text/javascript" src="js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">    

  </head>

  <body ng-controller="juegoCtrl as juego">
    <!-- Inicio del nav bar -->
    <div class="container" ng-controller="TabController as tab">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <ul class="nav navbar-nav">
            <li> <img id="navbarHeader" src="images/iconoCarmenSanDiego.png"></li>
            <li ng-class="{ active: tab.isSet(1)}"><a href ng-click="tab.setTab(1)">Informacion</a></li>
            <li ng-class="{ active: tab.isSet(2)}"><a href ng-click="tab.setTab(2)">Orden de arresto</a></li>
            <li ng-class="{ active: tab.isSet(3)}"><a href ng-click="tab.setTab(3)">Pistas</a></li>
          </ul>
        </div>
      </nav>
      <!-- Fin del nav bar -->
      <!-- Inicio del Cuerpo -->
      <div class="jumbotron">
      
        <div ng-show="tab.isSet(1)" class="jumbotron">
          <center><h2>Pais Actual: {{juego.paisActual()}}</h2></center>
         
        </div>
        <div ng-show="tab.isSet(2)" class="jumbotron">
          <center><h2>Orden de arresto: {{juego.ordenDeArresto}}</h2></center>
          
        </div>
        <div ng-show="tab.isSet(3)" class="jumbotron">
          <center><h2>Pistas</h2></center>
         
        </div>
      </div>
      
    </div>
    
    <!-- Fin del Cuerpo -->
    
    <!-- Inicio del Footer -->
    
    <!-- Fin del Footer -->
  </body>
  
  
</html>